lipstick-form {
  display: block;
  color: inherit;

  & input[readonly] {
    background: transparent;
    pointer-events: none;
    border: none;

    &[data-null] {
      font-family: 'Courier New', Courier, monospace;
    }
  }

  & section {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    & button {
      align-self: flex-start;
    }
  }

  & select {
    max-width: 50em;
    text-overflow: ellipsis;
  }

  & legend {
    display: flex;
    align-items: center;
  }

  & textarea {
    resize: vertical;
  }

  & fieldset[data-collapsed]>div {
    display: none;
  }

  & :where([data-lipstick-inline]) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > :where(.lipstick-range-component, input, select) {
      flex-grow: 1;

      &[type="checkbox"] {
        flex-grow: 0;
        margin: 0;
        margin-right: auto;
      }
    }
  }

  .lipstick-actions,
  .lipstick-union-picker {
    display: flex;
    align-items: stretch;
  }

  & .lipstick-range-component {
    display: flex;

    >.lipstick-range-slider {
      position: relative;
      flex-grow: 1;

      >input[type="range"] {
        width: 100%;
        margin: 0;
      }

      >.lipstick-range-meta {
        position: absolute;
        pointer-events: none;
        width: 100%;
        display: flex;
        top: 50%;
        justify-content: space-between;
      }
    }
  }
}
